extends layout

block content
  h1= title
  p Welcome to #{title}
  div.construction 
    span.construction-text The site is currently under construction
  div: svg(width="500" height="325" viewbox="10 10 500 275")
      rect(width="220" height="220" x="100" y="-80" fill="#eeed00" transform="rotate(45 50 50)")
      rect(width="200" height="200" x="110" y="-70" fill="#eeed00" stroke="#333" stroke-width="3" transform="rotate(45 50 50)")
      text(x="125" y="120" stroke="#000" font-size="34") Under 
      text(x="75" y="160" stroke="#000" font-size="34") Construction
