body {
  padding: 50px;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.construction {
  font-size: 34px;
  color: #FFB700;
  font-weight: 800;    
}

.construction img {
  display: block;
  float: right;
  width: 300px;
  position: relative;
}
