body {
    font-family: 'Merriweather Sans', sans-serif;
}

a {
    color: #00B7FF;
}

.clearfix:after {
    content:"";
    display: block;
    clear:both;
}

.content {
    position: relative;
    float: left;
}

.content-top {
    position: relative;
    float: left;
    width: 55%;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

p {
    font-weight: 300;
}

.heading {
    margin-bottom: 30px;
}

.construction {
    display: block;
    font-size: 1.8rem;
    position: relative;
    float: left;
}

.construction-text {
    display: block;
    font-size: 34px;
    color: #FFB700;
    font-weight: 800;
}

.sign {
    display: block;
    float: left;
    position: relative;
    margin: 10px 12px;
}

.left-side {
    display: block;
    float: left;
    position: relative;
    margin: 20px 50px 10px 20px;
}


.left-side .top,
.left-side .bottom {
    position: relative;
}

.left-side .middle {
    position: relative;
}

.donate-title {
    font-size: 0.83rem;
    margin: 0.5em 0;
}

.donate-one-time {
    display: block;
    margin: 0 0 0.3rem 0.5rem;
    font-size: 0.7rem;
}
